<p id="notice"><%= notice %></p>

<p>
  <strong>Household:</strong>
  <%= @guest.household_id %>
</p>

<p>
  <strong>first:</strong>
  <%= @guest.salutation %>
</p>
<p>
  <strong>first:</strong>
  <%= @guest.first %>
</p>
<p>
  <strong>last:</strong>
  <%= @guest.last %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.email %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
