<p id="notice"><%= notice %></p>


<h1><%= @event.name %> <small><%= @event.datetime.strftime("%A, %B #{@event.datetime.day.ordinalize}") %></small></h1>
<h4>

  <%= @event.description %>
</h4>

<p>
  <%= @event.address1 %> <br>
  <%= @event.address2 %> <br>
  <%= @event.city %>, <%= @event.state %> <%= @event.zip %>
</p>



<div class="row">
  <div class="col-md-3">
    <a href="<%= event_path(@event) %>" class="dashboard-item">
      <div class="dashboard-num"><%= @event.rsvps.count %></div> <div>total guests</div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="<%= event_path(@event, filter: "attending") %>" class="dashboard-item">
      <div class="dashboard-num"><%= @event.replied_rsvps(households: Household.all).attending.count %></div> <div>guests are attending</div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="<%= event_path(@event, filter: "not-attending") %>" class="dashboard-item">
      <div class="dashboard-num"><%= @event.replied_rsvps(households: Household.all).not_attending.count %></div> <div>guests are not attending</div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="<%= event_path(@event, filter: "unreplied") %>" class="dashboard-item">
      <div class="dashboard-num"><%= @event.unreplied_rsvps(households: Household.all).count %></div> <div>guests have not replied</div>
    </a>
  </div>
</div>

<div class="row">
  <% CATEGORIES.each do |category| %>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <h4><%= category %></h4>
          <div><%= @event.guests_by_category(category).count %> guests are invited</div>
          <div><%= @event.replied_rsvps(households: Household.by_category(category)).attending.count %> guests are attending</div>
          <div><%= @event.replied_rsvps(households: Household.by_category(category)).not_attending.count %> guests are not attending</div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2>Invited guests:</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>First</th>
      <th>Last</th>
      <th>Attending?</th>
      <th>Email</th>
      <th>Household</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><%= rsvp.guest.salutation %></td>
        <td><%= rsvp.guest.first %></td>
        <td><%= rsvp.guest.last %></td>
        <td><%= rsvp_status(rsvp.guest, @event) %></td>
        <td><%= rsvp.guest.email %></td>
        <td><%= link_to rsvp.guest.household.full_name, rsvp.guest.household %></td>
        <td><%= rsvp.guest.category %></td>
        <td><%= link_to 'Show', rsvp.guest %></td>
        <td><%= link_to 'Edit', edit_guest_path(rsvp.guest) %></td>
        <td><%= link_to 'Destroy', rsvp.guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @rsvps %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
