<p id="notice"><%= notice %></p>


<h1><%= @event.name %> <small><%= @event.datetime.strftime("%A, %B #{@event.datetime.day.ordinalize}") %></small></h1>
<h4>

  <%= @event.description %>
</h4>

<p>
  <%= @event.address1 %> <br>
  <%= @event.address2 %> <br>
  <%= @event.city %>, <%= @event.state %> <%= @event.zip %>
</p>



<div class="row">
  <div class="col-md-2">
    <div class="dashboard-item">
      <div class="dashboard-num"><%= @event.rsvps.count %></div> <div>total guests</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="dashboard-item">
      <div class="dashboard-num"><%= @event.rsvps.attending.count %></div> <div>guests are attending</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="dashboard-item">
      <div class="dashboard-num"><%= @event.rsvps.not_attending.count %></div> <div>guests are not attending</div>
    </div>
  </div>
</div>

<h2>Invited guests:</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>First</th>
      <th>Last</th>
      <th>Attending?</th>
      <th>Email</th>
      <th>Household</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.salutation %></td>
        <td><%= guest.first %></td>
        <td><%= guest.last %></td>
        <td><%= rsvp_status(guest, @event) %></td>
        <td><%= guest.email %></td>
        <td><%= guest.household.full_name %></td>
        <td><%= link_to 'Show', guest %></td>
        <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
        <td><%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @guests %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
