<h5 class="rsvp-address"><%= event.address1 %> <small><a href="https://www.google.com/maps?q=<%= event.address1.gsub(" ", "+") %>+<%= event.address2.gsub(" ", "+") %>+<%= event.city %>+<%= event.state %>" target="_blank"><%= event.address2 %>, <%= event.city %> <%= event.state %></small></a></h5>
