<link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
<link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Kriti and Arjun</title>
<!-- <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'> -->
<!-- <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'> -->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= csrf_meta_tags %>
