<div class="rsvp-form">
  <h1>Event RSVPs for the <%= @household.name %> household</h1>
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="row form-group">
        <div class="col-md-8">
          <a class="select-every btn btn-success" href="#">We can attend all of the events!</a>
          <a class="select-nobody btn btn-danger" href="#">We are unable to attend any events <i class="fa fa-frown-o"></i></a>
        </div>
      </div> -->
      <%= form_tag(household_rsvps_path) do %>
        <%= hidden_field_tag :household_id, @household.id %>
          <% @household.guests.each do |guest| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="form-group">
                  <div class="row guest-name">
                    <div class="col-md-1">
                      <%= text_field_tag "guest_#{guest.id}_salutation", guest.salutation, placeholder: 'Title', class: 'form-control'  %>
                    </div>
                    <div class="col-md-3">
                      <%= text_field_tag "guest_#{guest.id}_first", guest.first, placeholder: 'First name', class: 'form-control'  %>
                    </div>
                    <div class="col-md-4">
                      <%= text_field_tag "guest_#{guest.id}_last", guest.last, placeholder: 'Last name', class: 'form-control'  %>
                    </div>
                  </div>
                </div>

              </div>
              <div class="panel-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <%= select_tag "guest_#{guest.id}_status", options_for_select([["can attend at least one event", "attending"], ["cannot attend any events", "not attending"]], guest.status), class: 'form-control guest-status' %>
                    </div>
                  </div>
                </div>

                <div id="guest_<%= guest.id %>_rsvps">
                  <% guest.rsvps.each do |rsvp| %>
                    <div class="rsvp">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-3 col-sm-6 form-rsvp-status">
                            <%= select_tag "rsvp_#{rsvp.id}_status", options_for_select([["is attending", "yes"], ["is not attending", "no"]], rsvp.status), class: 'rsvp-status form-control' %>
                          </div>
                          <div class="col-md-4 col-sm-6 form-event-name">
                            <h4>the <%= rsvp.event.name %> <i id="rsvp_<%= rsvp.id %>_indicator"></i></h4>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <p class="rsvp-event-desc"><%= rsvp.event.description %></p>
                            <h5 class="rsvp-date-time"><%= rsvp.event.datetime.strftime("%A, %B #{rsvp.event.datetime.day.ordinalize}") %> <small>at</small> <%= rsvp.event.datetime.strftime("%l:%M %p") %></h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <h5 class="rsvp-address"><%= rsvp.event.address1 %> <small><a href="https://www.google.com/maps?q=<%= rsvp.event.address1.gsub(" ", "+") %>+<%= rsvp.event.address2.gsub(" ", "+") %>+<%= rsvp.event.city %>+<%= rsvp.event.state %>" target="_blank"><%= rsvp.event.address2 %>, <%= rsvp.event.city %> <%= rsvp.event.state %></small></a></h5>
                          </div>
                        </div>
                      </div>
                      <% unless rsvp == guest.rsvps.last %>
                        <hr>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <%= submit_tag 'submit', class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('.rsvp-status').each(function(){
      var status = $(this).val();
      var rsvpId = $(this).attr("id").split("_")[1]
      console.log(rsvpId);
      console.log(status);
      if (status == "yes") {
        $("#rsvp_" + rsvpId + "_indicator")
          .addClass("fa fa-check");
      } else {
        $("#rsvp_" + rsvpId + "_indicator")
          .addClass("fa fa-times");
      }
    });

    // Toggle rsvp indicators depending on event attendance
    $('.rsvp-status').change(function(){
      var status = $(this).val();
      var rsvpId = $(this).attr("id").split("_")[1]
      console.log(rsvpId);
      console.log(status);
      if (status == "yes") {
        $("#rsvp_" + rsvpId + "_indicator")
          .addClass("fa-check")
          .removeClass("fa-times");
      } else {
        $("#rsvp_" + rsvpId + "_indicator")
          .addClass("fa-times")
          .removeClass("fa-check");
      }
    });
  });
</script>
