<h1>Event RSVPs</h1>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
    <% Event.all.each do |event| %>
      <li class="list-group-item">
        <h4><%= event.name %></h4>
        <div><%= event.datetime.strftime("%A, %b %d") %> -
          <%= event.datetime.strftime("%l:%M %p") %>
        </div>
        <div><%= event.address1 %></div>
        <div><%= event.city %>, <%= event.state %></div>
        <%= form_tag(household_rsvps_path) do %>
          <%= hidden_field_tag :household_id, @household.id %>
          <% @household.rsvps.each do |rsvp| %>
            <div class="form-group">
              <div class="row">
                <div class="col-md-1">
                  <%= text_field_tag :salutation, rsvp.guest.salutation, class: 'form-control' %>
                </div>
                <div class="col-md-3">
                  <%= text_field_tag :first, rsvp.guest.first, class: 'form-control' %>
                </div>
                <div class="col-md-4">
                  <%= text_field_tag :last, rsvp.guest.last, class: 'form-control' %>
                </div>
                <div class="col-md-2">
                  <%= select_tag :status, options_for_select(["is attending", "is not attending"]), class: 'form-control' %>
                </div>

              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
