<!DOCTYPE html>
<html>
<head>
  <%= render 'pages/head' %>
</head>
<body>
<%= render 'pages/navbar' %>
<%= render 'pages/notifications' %>
<div class="container spacer">

  <%= yield %>
  <%= render 'pages/footer' %>
</div>

</body>
</html>
