<!DOCTYPE html>
<html>
<head>
  <%= render 'pages/head' %>
</head>
<body>
<%= render 'pages/navbar' %>
<%= render 'pages/notifications' %>

  <%= yield %>
  <%= render 'pages/footer' %>
</body>
</html>
