<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OurWedding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <style>
    h4, h6 {
      margin: 0;
    }
    ul {
      padding-left: 0;
    }
    li {
      list-style-type: none;
    }

  </style>
</head>
<body>
<%= render 'pages/notifications' %>
<div class="container spacer">
  <%= yield %>
</div>

</body>
</html>
