<div class="check-names">
  <div class="image-heading">
    <div class="screen main-screen">
      <div class="container">
        <h1>Check information for the <%= @household.name %> household</h1>
        <h4>Step 1 of 2</h4>
        <h5 class="half-width-info">Please fix any spelling mistakes you might see and make sure at least one email address is correct. Update emails will be sent to all email addresses that we have on file.</h5>
        <h5><%= link_to "edit attendance", rsvp_form_household_path(@household, @household.unique_hex) %> | <%= link_to "view RSVP status", rsvp_status_household_path(@household, @household.unique_hex) %></h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <%= form_tag(update_names_household_path(@household)) do %>
        <% @household.guests.each_with_index do |guest, index| %>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-1"><div class="list-num"><%= index + 1 %></div></div>
              <div class="col-sm-1">
                <%= text_field_tag "guest_#{guest.id}_salutation", guest.salutation, placeholder: 'Title', class: 'form-control'  %>
              </div>

              <div class="col-sm-2">
                <%= text_field_tag "guest_#{guest.id}_first", guest.first, placeholder: 'First name', class: 'form-control'  %>
              </div>
              <div class="col-sm-3">
                <%= text_field_tag "guest_#{guest.id}_last", guest.last, placeholder: 'Last name', class: 'form-control'  %>
              </div>
              <div class="col-sm-4">
                <%= text_field_tag "guest_#{guest.id}_email", guest.email, placeholder: 'Email', class: 'form-control'  %>
              </div>
            </div>
          </div>
        <% end %>
        <%= submit_tag "The names look correct", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

