<p id="notice"><%= notice %></p>
<h1>Listing Households <small><%= link_to "clear filters", households_path  %></small></h1>
<h5>Filter by status</h5>
<div class="row <%= @status_filter_class %>">
  <div class="col-md-3">
    <a href="<%= households_path %>" class="dashboard-item total">
      <div class="dashboard-num"><%= Household.all.count %></div> <div>total households</div>
    </a>
  </div>
  <div class="col-md-3">
    <%= link_to households_path(params.except(:action, :controller).merge(reply_filter: "replied")), class: 'dashboard-item replied' do %>
      <div class="dashboard-num"><%= Household.all.replied.count %></div> <div>have replied</div>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to households_path(params.except(:action, :controller).merge(reply_filter: "unreplied")), class: 'dashboard-item unreplied' do %>
      <div class="dashboard-num"><%= Household.all.need_to_reply.count %></div> <div>need to reply</div>
    <% end %>
  </div>
</div>

<h5>Filter by category</h5>
<div class="btn-group guest-filter btn-group-filter <%= @household_filter_class %>" role="group" aria-label="...">
  <a href="<%= households_path %>"class="btn btn-default all">All (<%= Household.count %>)</a>
  <%= link_to households_path(params.except(:action, :controller).merge(household_filter: "Kriti and Arjun")), class: 'btn btn-default kriti-and-arjun' do %>
    Kriti and Arjun (<%= Household.by_category("Kriti and Arjun").count %>)
  <% end %>
  <%= link_to households_path(params.except(:action, :controller).merge(household_filter: "Goel")), class: 'btn btn-default goel' do %>
    Goel (<%= Household.by_category("Goel").count %>)
  <% end %>
  <%= link_to households_path(params.except(:action, :controller).merge(household_filter: "Venkataswamy")), class: 'btn btn-default venkataswamy' do %>
    Venkataswamy (<%= Household.by_category("Venkataswamy").count %>)
  <% end %>
</div>
<% if @household_filter_class != 'all' %>
  <div class="btn-group-filter-info"><%= @household_filtered_households.replied.count %> replied, <%= @household_filtered_households.need_to_reply.count %> need to reply from <strong><%= params[:household_filter] %></strong></div>

<% end %>
<hr>
<h3>Invited households:</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Replied?</th>
      <th>Initial email sent?</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @households.each do |household| %>
      <tr>
        <td><%= household.full_name %></td>
        <td>
          <% if household.replied? %>
            <i class="fa fa-check attending"></i>
          <% else %>
            <i class="fa fa-times not-attending"></i>
          <% end %>
        </td>
        <td>
          <% if household.initial_email_sent? %>
            <i class="fa fa-check attending"></i>
          <% else %>
            <i class="fa fa-times not-attending"></i>
          <% end %>
        </td>
        <td><%= household.guests.first.try(:category) %></td>
        <td><%= link_to 'Show', household %></td>
        <% if current_user.super_admin? %>
          <td><%= link_to 'Edit', edit_household_path(household) %></td>
          <td><%= link_to 'Destroy', household, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @households %>
<br>

<%= link_to 'New Household', new_household_path %>
