<p id="notice"><%= notice %></p>

<h1>Listing Households</h1>
<div class="row">
  <div class="col-md-2">
    <div class="dashboard-item">
      <div class="dashboard-num"><%= Household.all.count %></div> <div>total households</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="dashboard-item">
      <div class="dashboard-num"><%= Household.all.replied.count %></div> <div>have replied</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="dashboard-item">
      <div class="dashboard-num"><%= Household.all.need_to_reply.count %></div> <div>need to reply</div>
    </div>
  </div>
</div>

<h4>Filter by category</h4>
<div class="btn-group guest-filter <%= @household_filter_class %>" role="group" aria-label="...">
  <a href="<%= households_path %>"class="btn btn-default all">All (<%= Household.count %>)</a>
  <a href="<%= households_path(filter: 'Kriti and Arjun') %>"class="btn btn-default kriti-and-arjun">Kriti and Arjun (<%= Household.by_category("Kriti and Arjun").count %>)</a>
  <a href="<%= households_path(filter: 'Goel') %>"class="btn btn-default goel">Goel (<%= Household.by_category("Goel").count %>)</a>
  <a href="<%= households_path(filter: 'Venkataswamy') %>"class="btn btn-default venkataswamy">Venkataswamy (<%= Household.by_category("Venkataswamy").count %>)</a>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Replied?</th>
      <th>Initial email sent?</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @households.each do |household| %>
      <tr>
        <td><%= household.full_name %></td>
        <td>
          <% if household.replied? %>
            <i class="fa fa-check attending"></i>
          <% else %>
            <i class="fa fa-times not-attending"></i>
          <% end %>
        </td>
        <td>
          <% if household.initial_email_sent? %>
            <i class="fa fa-check attending"></i>
          <% else %>
            <i class="fa fa-times not-attending"></i>
          <% end %>
        </td>
        <td><%= household.guests.first.try(:category) %></td>
        <td><%= link_to 'Show', household %></td>
        <td><%= link_to 'Edit', edit_household_path(household) %></td>
        <td><%= link_to 'Destroy', household, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @households %>
<br>

<%= link_to 'New Household', new_household_path %>
