<div class="rsvp-form">
  <div class="image-heading">
    <div class="screen main-screen">
      <div class="container">
        <h1>Event RSVPs for the <%= @household.name %> household</h1>
        <h4>Step 2 of 2</h4>
        <h5>Please submit your RSVP by May 1<sup>st</sup></h5>
        <h5>
          <%= link_to "edit names", check_names_household_path(@household, @household.unique_hex) %> |
          <%= link_to "view RSVP status", rsvp_status_household_path(@household, @household.unique_hex) %>
        </h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= form_tag(rsvp_household_path(@household)) do %>
          <% Event.all.each do |event| %>
            <% if event.rsvps_for_household(@household).present? %>
            <div class="event <%= event.name.downcase.gsub(" ", "-") %>">
              <h2 class="event-title">
                <div class="screen">
                  <%= event.name %>
                </div>
              </h2>
              <h5 class="rsvp-date-time"><%= event.datetime.strftime("%A, %B #{event.datetime.day.ordinalize}") %> <small>at</small> <%= event.datetime.strftime("%l:%M %p") %></h5>
              <%= render 'pages/address', event: event %>
              <h6>Invited guests:</h6>
                <% event.rsvps_for_household(@household).each do |rsvp| %>
                  <div class="guest-name"><%= rsvp.guest.full_name %><%= select_tag "rsvp_#{rsvp.id}_status", options_for_select([["is attending", "yes"], ["is not attending", "no"]], rsvp.status), class: 'rsvp-status form-control inline-select' %>
                  </div>
                <% end %>
            </div>
            <% end %>
          <% end %>
          <%= submit_tag "Submit your RSVP", class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    // Initial page setup
    $('.rsvp-status').each(function(){
      var status = $(this).val();
      var guestId = $(this).attr("id").split("_")[1]
      if (status == "yes") {
        $(this).removeClass("not-attending").addClass("attending")
      } else {
        $(this).removeClass("attending").addClass("not-attending")
      }
    });

    // Toggle colors based on RSVP status
    $('.rsvp-status').change(function(){
      var status = $(this).val();
      var guestId = $(this).attr("id").split("_")[1]
      if (status == "yes") {
        $(this).removeClass("not-attending").addClass("attending")
      } else {
        $(this).removeClass("attending").addClass("not-attending")
      }
    });


  });
</script>
