<p id="notice"><%= notice %></p>

<p>
  <strong>Household Name:</strong>
  <%= @household.name %>
</p>

<p>Guests:</p>
<ul>
  <% @household.guests.each do |guest| %>
    <li><%= link_to guest.full_name, guest %></li>
  <% end %>
</ul>

<h5>RSVP info</h5>
<% Event.all.each do |event| %>
  <% if event.rsvps_for_household(@household).present? %>
      <h6><%= event.name %></h6>
    <ul>
      <% event.rsvps_for_household(@household).each do |rsvp| %>
        <% if rsvp.status == 'yes'  %>
        <li><%= rsvp.guest.full_name %> <span class="attending">is attending <i class="fa fa-check"></i></li>
        <% else %>
        <li><%= rsvp.guest.full_name %> <span class="not-attending">is not attending <i class="fa fa-ban"></i></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>


<p>
  <%= link_to 'View RSVP status', rsvp_status_household_path(@household.id, @household.unique_hex)  %> |
  <%= link_to 'Edit RSVP status', rsvp_form_household_path(@household.id, @household.unique_hex)  %>

</p>

<%= link_to 'Edit', edit_household_path(@household) %> |
<%= link_to 'Back', households_path %>
